#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}

#view_heading {
    margin-left: 10px;
}

.ticket_title {
    text-align: left;
    display: inline;
}

.edit_link {
/*    margin: -25px 0 0 100px;
    font-size: 10px;
    color: #fff;*/
    margin: 0;
    display: inline;
}

.divider {
    text-align: center;
    color: #D0D0D0;
    padding-bottom: 7px;
}

#view_sidebar {
    float: right;
    margin: 0 0 0 0;
    font-size: 80%;
}

#ticket_problem {
    padding-left: 10px;
    width: 775px;
    float: left;
    
}

.comments_form {
    float:left;
    width: 100%;
}

.comments_form div.submit {
    margin-top: -15px;
}

#comments_block {
    float:left;
    width: 100%;
}
.comment_info {
    padding-top: 10px;
    font-size: 85%;
}

#test {
    color: #000;
}