/*Footer*/
#footer {
	position    : relative;
    width       : 100%;
    clear:      : both;
    height      : 50px;
	background  : #043673;
	text-align  : center;
}

#footer p {
	font-size   : 10px;
	display     : inline;
	color       : #FFF;
}

#footer a {
	text-decoration: none;
	color 		: #FFF;
}