/* Layout */
.wrapper {
	width  		: 999px;
	margin 		: 0 auto;
}

#container {
	text-align: left;
}

#header{
	background: #999999;
	height: 40px;
}

#header ul {
    padding-top: 11px;
}

#header ul li {
	display:inline;
}

#header ul li a {
	font-weight: bold;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
}

#header a:hover {
	text-decoration: none;
}

/* Menu Items */
div#menu ul li {
	float 		: left;
	list-style	: none;
	display     : inline;
	margin 		: 133px 0 6px 0px;
}

li.menu_item a {
	height 		: 28px;
	color 		: #FFF;
	font-size	: 18px;
	font-family : Verdana, sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	outline		: none;
	padding 	: 6px 10px 9px 10px;
}

#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}

#footer {
    background: #003d4c;
	clear: both;
	padding: 6px 10px;
	text-align: center;
}

#footer a {
    color: #fff;
    font-weight: normal;
}

#home_queue {
    float: right;
}

h2.ticket_title {
    text-align: left;
}

.divider {
    text-align: center;
    color: #D0D0D0;
    padding-bottom: 7px;
}