/* Layout */
.wrapper {
	width  		: 999px;
	margin 		: 0 auto;
}

#container {
	text-align: left;
}

#header{
	padding: 10px 20px;
	background: #999999;
}

#header h1 {
	background: #003d4c url('../img/cake.icon.gif') no-repeat left;
	color: #fff;
	padding: 0px 30px;
}

#header h1 a {
	/*color: #fff;
	background: #003d4c;*/
	font-weight: normal;
	text-decoration: none;
}

#header h1 a:hover {
	/*color: #fff;
	/*background: #003d4c;*/
	text-decoration: none;
}

#login_logout_controls {
    float: right;
}

#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}

#footer {
    background: #003d4c;
	clear: both;
	padding: 6px 10px;
	text-align: right;
}