/*reset css for all browsers*/
* {
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address {margin:0;}
li, dd {margin-left:5%;}
fieldset {padding: .5em;}

select option {padding:0 5px;}

.hide, .print-logo, .close-button {display:none;}
.left {float:left;}
.right {float:right;}
.clr {clear:both; height:1px; font-size:1px; line-height:1px;}
a img {border:none;}

/* mac hide\*/
html, body {
	height: 100%
}
/* end hide */

/* General Style Info */
body {
    background: #003d4c;
	color: #fff;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
}

a {
	/*background:#fff;*/
	color: #003d4c;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	background:#003d4c;
	color: #fff;
	text-decoration:none;
}

a img {
	border:none;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {
	background:#fff;
	color: #003d4c;
	font-size: 100%;
	margin: 0.1em 0;
}

h2 {
	background:#fff;
	color: #e32;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 190%;
	margin: 0.3em 0;
	padding-top: 0.4em;
}

h3 {
	color: #993;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 165%;
	padding-top: 1.5em;
}

h4 {
	color: #993;
	font-weight: normal;
	padding-top: 0.5em;
}

ul, li {
	margin: 0 12px;
}